/*--------------- Fonts ---------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/*--------------- Global CSS ---------------*/
* {
    padding: 0px;
    margin: 0px;
}

.logo {
    position: absolute;
    left: 4%;
    top: 4%;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #F3F5FC;
}

.text {
    position: absolute;
    width: 40%;
    height: 60%;
    left: 13%;
    top: 15%;
    color: #0A3871;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    background-color: #F3F5FC;
    border: none;
    outline: none;
    resize: none;
}

.text::placeholder {
    color: #0A3871;
}

.terms {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 13%;
    top: 80%;
}

.terms p {
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #495057;
    opacity: 0.8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0.5% 0;
    position: absolute;
    width: 80%;
    left: 13%;
    top: 82%;
}

.btn-encrypt {
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8%;
    width: 25%;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #F3F5FC;
}

.btn-decrypt {
    align-items: center;
    justify-content: center;
    padding: 2%;
    margin: 0 2%;
    gap: 8%;
    width: 25%;
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
}

.btn-copy{
    position: absolute;
    top: 90%;
    padding: 2%;
    gap: 8%;
    height: 5%;
    width: 28%;
    background-color: #FFFFFF;
    border: 1px solid #0A3871;
    border-radius: 24px;
    font-family: Inter, sans-serif;
    font-size: 18px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    visibility: hidden;
}

.btn-encrypt:hover,
.btn-copy:hover,
.btn-decrypt:hover{
    cursor: pointer;
    opacity: 0.4;
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}

.btn-decrypt:hover{
    margin: 0 2%;
}

.encrypted {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 90%;
    left: 60%;
    top: 5%;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 34px;
}

.message-encrypted {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    gap: 16px;
    position: absolute;
    width: 100%;
    top: 65%;
    text-align: center;
}

.message-encrypted h2 {
    width: 60%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
    color: #343A40;
}

.message-encrypted p {
    width: 80%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #495057;
}

.encrypted textarea{
    position: absolute;
    top: 5%;
    width: 75%;
    height: 75%;
    font-family: Inter, sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 150%;
    resize: none;
    border: none;
    outline: none;
    cursor: default;
    color: #0A3871;
    background-color: transparent;
}

.encrypted .doll{
    position: absolute;
    width: 80%;
    height: 50%;
    top: 15%;
}

/*----- Responsive design -----*/

/*----- Table Design -----*/
@media (max-width: 78.125em) {
    .container {
        display: flex;
        flex-direction: row;
    }

    .encryptor {
        width: 100%;
    }

    .text {
        width: 80%;
        height: 60%;
        left: 5%;
        top: 15%;
    }

    .terms {
        width: 80%;
        left: 12.5%;
        top: 72%;
    }

    .buttons {
        width: 80%;
        left: 5%;
        top: 74%;
    }
    .btn-encrypt,
    .btn-decrypt {
        position: relative;
        left: 9%;
        width: 48%;
        border-radius: 16px;
        font-size: 16px;
    }

    .btn-decrypt{
        margin: 0 5%;
    }

    .btn-copy{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 65%;
        width: 20%;
        height: 25%;
        border-radius: 16px;
        font-size: 16px;
        visibility: hidden;
    }

    .btn-copy:hover{
        margin: 0.3%;
        width: 18%;
        padding: 1.8%;
    }

    .btn-encrypt:hover,
    .btn-decrypt:hover {
        margin: 0.3%;
        width: 47%;
        padding: 1.8%;
    }

    .btn-decrypt:hover{
        margin: 0 5%;
    }

    .encrypted {
        width: 80%;
        height: 15%;
        left: 10%;
        top: 82%;
    }

    .message-encrypted {
        width: 100%;
        top: 20%;
    }

    .message-encrypted textarea {
        position: absolute;
        width: 80%;
        height: 50%;
        top: 10%;
    }

    .encrypted img  {
        display: none;
    }
}

/*----- Mobile Design -----*/
@media (max-width: 37.5em) {
    .container {
        display: flex;
        flex-direction: row;
    }

}